-- cabal-install version for all jobs
cabal-install-version: 3.4

-- distribution version (xenial, bionic)
distribution: bionic

-- Skip separate dependency installation step
install-dependencies: True

-- Haddock step
haddock: True

-- Build without tests and benchmarks
no-tests-no-benchmarks: True

-- Make unconstrained build
unconstrained: True

-- Add ghc-head job
ghc-head: True

-- Allow failures of particular GHC version
allow-failures: False

-- Enable Docspec job
docspec: True

-- Additional Docspec options
docspec-options:

-- URL to download cabal-docspec
docspec-url: https://github.com/phadej/cabal-extras/releases/download/cabal-docspec-0.0.0.20210111/cabal-docspec-0.0.0.20210111.xz

-- SHA256 of cabal-docspec
docspec-hash: 0829bd034fba901cbcfe491d98ed8b28fd54f9cb5c91fa8e1ac62dc4413c9562

-- The name of GitHub Action
github-action-name: haskell-ci
