-- cabal-install version for all jobs
cabal-install-version: 3.4

-- distribution version (xenial, bionic)
distribution: xenial

-- Skip separate dependency installation step
install-dependencies: False

-- Build tests with
tests: True

-- Run tests with (note: only built tests are run)
run-tests: True

-- Haddock step
haddock: True

-- Build without tests and benchmarks
no-tests-no-benchmarks: False

-- Make unconstrained build
unconstrained: False

-- Use head.hackage repository. Also marks as allow-failures
head-hackage: >=9.1

-- Disable cabal check run
cabal-check: True

-- Add ghc-head job
ghc-head: True

-- Allow failures of particular GHC version
allow-failures: False

-- Enable Doctest job
doctest: True

-- Additional Doctest options
doctest-options:

-- Doctest version
doctest-version: ^>=0.18

-- Enable Docspec job
docspec: False

-- Additional Docspec options
docspec-options:

-- URL to download cabal-docspec
docspec-url: https://github.com/phadej/cabal-extras/releases/download/cabal-docspec-0.0.0.20210111/cabal-docspec-0.0.0.20210111.xz

-- SHA256 of cabal-docspec
docspec-hash: 0829bd034fba901cbcfe491d98ed8b28fd54f9cb5c91fa8e1ac62dc4413c9562

-- Enable HLint job
hlint: True

-- Specify HLint job
hlint-job: latest

hlint-yaml: .hlint.yaml

-- Additional HLint options
hlint-options:

-- HLint version
hlint-version: >=3.3 && <3.4

-- Download HLint binary release
hlint-download-binary: True

-- The name of GitHub Action
github-action-name: haskell-ci-generated
