--- The name of GitHub Action
github-action-name: haskell-ci

-- cabal-install version for all jobs
cabal-install-version: 3.4

-- distribution version (xenial, bionic)
distribution: bionic

-- Haddock step
haddock: True

-- Build without tests and benchmarks
no-tests-no-benchmarks: True

-- Make unconstrained build
unconstrained: True

-- Add ghc-head job
ghc-head: True

-- Allow failures of particular GHC version
allow-failures: False

-- Enable Docspec job
docspec: True
docspec-options: --verbose --timeout 2

-- from haskell-ci project
jobs: 2:2

-- This is useful if you want limit jobs beyond tested-with specification,
-- e.g. while iterating the CI setup itself.
linux-jobs: >=8.10

-- macOS job
macos-jobs: ==8.10.*

-- on Linux we can use ghcup to setup (some) of jobs
ghcup-jobs: >=9

-- from lens
-- Temporary hacks needed to make the GHC 9.0.* job work
hlint-job:              8.10.4
copy-fields:            some
