on: [push]
name: haskell-ci
jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        ghc: ['8.6.5', '8.8.4', '8.10.7', '9.0.2', '9.2.7', '9.4.4', '9.6.1']
        os: [ubuntu-latest]
        docspec: [false]
        ormolu: [false]
        experimental: [false]
        include:
          - os: windows-latest
            ghc: '9.4.3'
            experimental: true
          - os: macOS-latest
            ghc: '9.6.1'
            experimental: true
          - os: ubuntu-latest
            ghc: '9.6.1'
            experimental: true
            docspec: true
          - os: ubuntu-latest
            ghc: '9.6.1'
            experimental: true
            ormolu: true
    continue-on-error: true
    name: ghc ${{ matrix.ghc }} ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3
      - uses: haskell/actions/setup@v2
        with:
          ghc-version: ${{ matrix.ghc }}
          enable-stack: false
      - uses: actions/cache@v3
        with:
          key: ${{ runner.os }}-${{ matrix.ghc }}-${{ github.sha }}
          path: ~/.cabal/store
          restore-keys: ${{ runner.os }}-${{ matrix.ghc }}-
      - if: matrix.docspec
        name: install cabal-docspec
        run: |
          mkdir -p $HOME/.cabal/bin
          echo "$HOME/.cabal/bin" >> $GITHUB_PATH
          curl -sL https://github.com/phadej/cabal-extras/releases/download/cabal-docspec-0.0.0.20230406/cabal-docspec-0.0.0.20230406-x86_64-linux.xz > cabal-docspec.xz
          echo '68fa9addd5dc453d533a74a763950499d4593b1297c9a05c3ea5bd1acc04c9dd cabal-docspec.xz' | sha256sum -c -
          xz -d < cabal-docspec.xz > $HOME/.cabal/bin/cabal-docspec
          rm -f cabal-docspec.xz
          chmod a+x $HOME/.cabal/bin/cabal-docspec
          $HOME/.cabal/bin/cabal-docspec --version
      - if: matrix.ormolu
        name: ormolu
        uses: haskell-actions/run-ormolu@v11
      - name: cabal build
        run: |
          cabal update
          cabal configure --enable-tests
          cabal build
          cabal test
      - if: matrix.docspec
        name: run cabal-docspec
        run: cabal-docspec --check-properties
